.kv-container{
    background-color: #122244;
    position: relative;
    z-index: 2;
    >img{
        width: 100%;
        height: auto;
    }
}
.kv{
    @include Item(750, 908, 0, 0, 0, 0, 750, 'fit', 'relative');
    overflow: hidden;
    background-size: cover;
    img{
        @include SubImgW();
    }

    .kv-1{
        @include Item(334, 225, 283, 0, 0, 106, 750, 'fit', 'absolute');
        background-size: cover;
    }
    .cf{
        @include Item(64, 32, 100, 0, 0, 200, 750,'fit','absolute');
        figure{
            @include SubItem();
            background-size: 300% 1800%;
            background-position: 0 0;
            background-color: #000;
            // @include animation(
            //     playcf 8s infinite steps(1) backwards 0s
            // );
        }
        &:hover{
            figure{
                animation: playcf 8s infinite steps(1) forwards 0s;
            }

        }
    }
}
@include keyframes( playcf ){

    $row: 0;
    $col: 0;
    @for $i from 1 through 52 {
        #{$i * 100 / 52}% {
            background-position: #{$col*-100%} #{$row*-100%};
        }
        @if( $i % 3 == 0){
            $row: $row + 1;
            $col: 0;
        }@else{
            $col: $col + 1;
        }

    }
}